* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

:root {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --dark: #2A2C2E;
}

body > div {
  min-height: 100px;
}

#bestsellers {
  display: flex;
  flex-direction: column;
  gap: 32px;

  background-color: var(--dark);
  padding: 44px 24px;
}

#bestsellers-title {
  font-size: 32px;
  color: #FFFFFF;
}

#bestsellers-listing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 8px;

  position: relative;

  flex-grow: 1;

  background-color: white;
  width: 30%;
  min-width: 200px;
  border-radius: 20px;
  padding: 16px;
}

.card-image {
  width: 120px;
  height: 184px;
  background-color: burlywood;
  border-radius: 16px;
}

.card-content {
  flex-grow: 1;

  min-width: 100px;
}

.card-cta {
  width: 40px;
}

.card-cta > button {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 100%;
  background-color: var(--dark);
  border: none;
  cursor: pointer;
  color: white;
}

.alternative {
  /* position: absolute; */
  top: 20px;
  left: 20px;

  translate: -20px;
}

.font-mono {
  font-family:'Courier New', Courier, monospace;
}

.font-azo {
  font-family: 'Azo Sans', sans-serif;
}

.font-reset {
  font-family: initial;
}

.font-segoi {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.debug {
  border: 1px solid red;
}